/*FONTS*/
@font-face {
  font-family: santafont;
  src :url('../fonts/santafont.TTF');
}

#myNavbar,.navbar-style .navbar{
 background-color: #a91a20;
}

.navbar-nav {
  padding-top: 10px;
}


.brand {
  font-family: santafont;
  font-size: 30px;
  color: #A91B22;
  text-decoration: none;
}

.header-text {
  color: #ffffff;
}

/*VIDEO*/
.video-section {
  position: relative;
  width: 100%;
  max-height: 550px;
  overflow: hidden;
}

#video-elem {
  width: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.video-overlay h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-size: 3em;
  color: #ffffff;
}




/*NAVBAR*/

 .navbar-style {
   padding-bottom: 25px;
 }

.navbar-nav {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 15px 0;

}

.navbar-style .navbar-nav li a {
  color: #ffffff;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    text-decoration: none;
}

.navbar-style .navbar-nav li a:hover {
  color: #D11111;
}

p {
  color: #a0aab0;
}

/*CONTENT*/

.content {
  font-size: 24px;
}

.homepage-content {
  font-size: 24px;
}

.header-text {
  margin-bottom: 20px;
}



.bottom-img {
  margin-top: 20px;
}

.circle-image {
  margin-top:20px;
}

#callout {
  font-weight: 400;
}

#copy {
  font-weight: 800;
}

.map-box {
  padding-top: 25px;
}

.border-frame {
  border-style: solid;
  border-width: 0px 13px;
  border-image: url('../img/meltedsnow.jpg') 0 13 stretch repeat;
  border-image-outset: 13px;
}

.santa-letter {
  font-size: 30px;
  font-family: 'Tangerine', cursive;
  color: #000000;
  font-weight: 700;
}

.letter-section {
  background: url('../img/Letter-BG.jpg');
  height: 100%;
  background-size: cover;
  padding-bottom: 1000px;
}



 /*ORIGINATIONS */


/* EXPERIENCE */

.cta-styling {
  margin-top: 20px;
}

.mid-section {
  margin-bottom: 20px;
  margin-top: 25px;
  background-color: #9e1a1f;
}

.lower-section {
  background: url('../img/Wood-BG.jpg');
  width: 100%;
  background-size: cover;
  padding-top: 40px;
}

.bottom-section {
  background: url('../img/Snow.jpg');
  height: 100%;
  padding-bottom: 200px;
}


.nav .navbar-nav .footer ul li {
  display: inline-block;
}

#footer {
  margin-top: 20px;
}

/* ABOUT THE GAME */
.mid-content {
  background-color: #a92125;
  background: url("..img/SnowAndTrees.jpg")
}

/* CONTACT */

.form-choice {
  background-color: #fff;
}


.bottom-logo {
  padding-top:15px;
}

#footer {
  color: #00381e;
}

.footer ul li {
  inline: block;
}




